* {
	box-sizing: border-box;
	margin: auto;
	font-family: 'Teko'sans-serif;
}

main {
	background-image: url(images/achtergrond.png);
	background-repeat: repeat;
}

h1 {
	margin-bottom: 1px;
	padding: 1px;
	text-align: center;
	font-family: 'Teko';
	font-size: 3em;
	color: #000;
	animation: pulse 7s linear infinite;
}

@keyframes pulse {
	0% {
		color: blue;
	}

	10% {
		color: #73CC72;
	}

	0% {
		color: blue;
	}

	10% {
		color: #73CC72;
	}

	0% {
		color: blue;
	}

	10% {
		color: #73CC72;
	}

	0% {
		color: white;
	}

}


header {
	height: 120px;
	background: #0030C4;
	padding: 10px;
	color: #fff;
}

article {
	margin: 3em 1em;
	padding: 1em;
	background-color: #73CC72;
	box-shadow: 0 0 15px 11px rgba(0, 0, 0, .85);
	border-image: url(images/2deachtergrond.png);
	background-repeat: repeat;

	-webkit-animation: anim 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;


}

/* https://codepen.io/tjoen/pen/ByZrdZ disco tekst  */
@-webkit-keyframes anim {
	0% {
		text-shadow: -6px 4px 0px red;
	}

	10% {
		text-shadow: 4px -6px 0px green;
	}

	20% {
		text-shadow: -9px 4px 0px blue;
	}

	30% {
		text-shadow: 4px -6px 0px yellow;
	}

	40% {
		text-shadow: -8px 4px 0px orange;
	}

	50% {
		text-shadow: 4px 5px 0px purple;
	}

	60% {
		text-shadow: -6px 4px 0px brown;
	}

	70% {
		text-shadow: 4px 7px 0px pink;
	}

	80% {
		text-shadow: -9px -4px 0px lime;
	}

	90% {
		text-shadow: 4px -6px 0px cyan;
	}

	100% {
		text-shadow: -9px 4px 0px teal;
	}
}


p {
	margin: 1em;
	font-size: 1em;
	padding: 20px;


}


.leesmeer {
	float: right;
	display: block;
	text-align: center;
	color: white;
	padding: 10px;
	background-color: #0030C4;
	text-decoration: none;

}

.leesmeer:hover {
	transform: rotate(15deg) skewX(45deg);

}



h1:hover {
	/* 
https://css-tricks.com/making-css-animations-feel-natural/ 
	
https://tympanus.net/codrops/2012/05/22/creating-an-animated-3d-bouncing-ball-with-css3/*/
	animation-duration: 8s;
	animation-name: bounce;
	animation-timing-function: linear;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0);
	}
}

.artiesten {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
}

.detail {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	background-color: #73CC72;
	box-shadow: 0 0 15px 11px rgba(0, 0, 0, .85);
	margin-top: 20px;
}

section {
	/* https://codepen.io/tjoen/pen/ByZrdZ disco tkest  */


	-webkit-animation: anim 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;


	@-webkit-keyframes anim {
		0% {
			text-shadow: -6px 4px 0px red;
		}

		10% {
			text-shadow: 4px -6px 0px green;
		}

		20% {
			text-shadow: -9px 4px 0px blue;
		}

		30% {
			text-shadow: 4px -6px 0px yellow;
		}

		40% {
			text-shadow: -8px 4px 0px orange;
		}

		50% {
			text-shadow: 4px 5px 0px purple;
		}

		60% {
			text-shadow: -6px 4px 0px brown;
		}

		70% {
			text-shadow: 4px 7px 0px pink;
		}

		80% {
			text-shadow: -9px -4px 0px lime;
		}

		90% {
			text-shadow: 4px -6px 0px cyan;
		}

		100% {
			text-shadow: -9px 4px 0px teal;
		}
	}
}

section h2 {
	grid-column: 1 / -1;
	margin: 2em;
	justify-content: center;
	text-align: center;
	padding: 6px;
	background-color: white;
	box-shadow: 0 0 15px 11px rgba(0, 0, 0, .85);
	text-align: center;
	text-transform: uppercase;
	color: #000;
	animation: pulse 7s linear infinite;
	text-shadow: -4px 3px 0 #fff, -10px 7px 0 rgb(220, 220, 220);

}

@keyframes pulse {
	0% {
		color: blue;
	}

	10% {
		color: #73CC72;
	}

	20% {
		color: blue;
	}

	30% {
		color: #73CC72;
	}

	40% {
		color: rgb(85, 208, 144);
	}

	50% {
		color: #73CC72;
	}

}


.over {
	grid-column: 1 / -1;
	max-width: 700px;
	margin: auto
}

.band {
	grid-column: 1 / -1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #999;
	opacity: 1.0;
	box-shadow: 0 0 15px 11px rgba(0, 0, 0, .85);
}

#bandleden {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
}



h3 {
	font-size: 1em;
	padding: 2em;
	margin: auto;
	text-align: center;
	letter-spacing: 10px;
	border-color: black;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 100%;
	opacity: 0.8;
	background: rgb(115, 204, 114);
	background: linear-gradient(90deg, rgba(115, 204, 114, 1) 31%, rgba(13, 88, 12, 1) 75%, rgba(7, 61, 2, 1) 100%);
	box-shadow: 0 0 15px 11px rgba(0, 0, 0, .85);
}



img:hover {
	background: rgb(0, 48, 196);
	background: linear-gradient(90deg, rgba(0, 48, 196, 1) 27%, rgba(1, 34, 138, 1) 75%, rgba(1, 22, 89, 1) 100%);

	opacity: 1.0;

}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: -1em;
	text-align: center;
	line-height: 70px;
	font-size: 1em;
	font-family: 'Teko';
}

.menu li {
	list-style: none;

}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	padding: 10px 10px;
	transition: 0.4s;
}


.show-menu-btn,
.hide-menu-btn {
	transition: 0.4s;
	margin-top: -1em;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

/* menu stipjes */
.show-menu-btn {
	float: right;
	margin-top: -20px;
	font-size: 2em;
	line-height: 70px;
}


.show-menu-btn i {
	line-height: 80px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
	color: #73CC72;
	font-weight: bold;
}

/* checkbox verbergen*/
#chk {
	position: absolute;
	visibility: hidden;
	z-index: -1;
}


.content {
	padding: 0 30px;
	margin-left: auto;
}

.content img {
	width: 100%;
	max-width: 700px;
	margin: auto
}

p {
	text-align: justify;
	margin: 10px;
}




/* code opdracht vul hartjeshttps://codepen.io/rouws/pen/VwwgKjE  */
#filter {
	font-size: 1em;
	color: black;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	transition: .5s;
	opacity: 0;
}

#filter.visible {
	opacity: 1;
	position: relative;
}

.hoogteblijven {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1em;
	border: none;
	transition: all .2s;
	padding: 1em;
	background: #73CC72;
}

#hoogte {
	opacity: 0;
}

#hoogte.weergeven {
	opacity: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: #0030C4;
	text-align: center;
	color: white;

}

#aanmelden {
	font-family: 'Teko';
	font-size: 1em;
	margin-top: 10px;
	border: none;
	background: #0030C4;
	color: white;
	box-shadow: 2px 2px 2px 2px #73CC72;
	transition: width 1s ease-in, height 1s ease-out 1s;

}

#aanmelden:hover {
	width: 8em;
	height: 3em;
}


#button {
	font-family: 'Teko';
	font-size: 1em;
	margin-left: 13px;
	border: none;
	background: #0030C4;
	color: white;
	padding: 5px 20px;
	box-shadow: 2px 2px 2px 2px #73CC72;
}

.socialmedia {
	background-color: #73CC72;
	color: black;
	text-align: center;
	margin-top: 30px;
}

.social {
	width: 90px;
	height: 90px;
	margin: 5px;
	color: #0030C4;
}

.social i {
	line-height: 50px;
	font-size: 1.5em;
	transition: 0.5s linear;

}

.social:hover i {
	transform: scale(1.5);
	color: white;
}



fieldset {
	display: block;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 0.625em;
	background-color: #73CC72;

}

legend {
	background-color: #0030C4;
	color: white;
	border-radius: 0;
	margin-bottom: 3px;
	padding: 1em;
}


#bandleden {
	margin: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;

}

.footer{
	margin-top: -100px;
	
}

@media (min-width: 20em) and (max-width: 30em) {
	body {
		overflow-x: hidden;
	}

	main {
		background-image: url(images/telefoon.png);
		margin-top: -20px;

	}

	.show-menu-btn,
	.hide-menu-btn {
		display: block;
	}

	ul.menu {
		flex-direction: column;
		position: fixed;
		width: 100%;
		height: 100%;
		background: #0030C4;
		transform: translateX(100%);
		line-height: normal;
		transition: 0.7s;
		opacity: 0.8;
		font-size: 2em;
	}

	/* menu linkjes */
	.menu a {
		margin-top: -1em;

		padding: 0px;
		text-decoration: none;
		color: #fff;
	}

	.menu a:hover {
		margin-top: -1em;
		display: block;
		padding: 0px;
		text-decoration: none;
		color: #73CC72;

	}

	/* kruisje */


	.hide-menu-btn {
		position: absolute;
		top: 20px;
		right: 50px;
		font-size: 1em;
		opacity: 1;

	}

	/* uitklopmenu */
	#chk:checked ~ .menu {
		transform: translateX(0);
		z-index: 1;
		margin-top: 10px;

	}


	/* menu stipjes */
	.show-menu-btn {
		float: right;
		margin-top: -30px;
		font-size: 2em;
		line-height: 70px;
	}

	img {
		opacity: 1;
	}


	/* 
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
	https://developers.google.com/web/updates/2019/03/prefers-reduced-motion	
	kan je de animaties mee uitzetten */
}

@media (prefers-reduced-motion:reduce) {
	article {
		animation: none;
		color: black;
	}

	h1 {
		animation: none;
	}


}
